* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links-home {
    width: 100px;
    margin-right: 20px;
    height: 21px;
}

.nav-links {
    width: 150px;
    margin-right: 20px;
    height: 21px;
}

.nav-links a {
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.nav-btn {
    width: 182px;
    height: 50px;
    border-radius: 5.95px;
    background-color: #75BF7A;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-right: 20px;
}

.h1-theme {
    margin-top: 6rem;
    width: 557px;
    height: 198px;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 49px;
    font-weight: 800;
    line-height: 66px;
}

.p-theme {
    margin-top: 40px;
    margin-bottom: 70px;
    width: 550px;
    height: 120px;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: #9E9DA2;
}

.right-sec-img {
    margin-left: 80px;
    width: 553px;
    height: 582.81px;
}

.btns {
    display: flex;
    width: auto;
}

.app-card {
    padding: 40px 60px;
    border-radius: 10px;
    margin: 60px auto;
    background-color: #75BF7A;
    color: #fff;
}

.card-h1 {
    width: 246px;
    height: 56px;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

.card-search {
    width: 499px;
    height: 48px;
    border-radius: 4.39px;
    margin-top: 20px;
}

.card-btn {
    width: 260px;
    height: 48px;
    margin-top: 20px;
    border-radius: 4.39px;
}

/* Steps */
.steps-container {
    width: 100%;
    margin-top: 100px;
}

.steps-left-section {
    height: 599px;
    /* width: auto; */
    text-align: right;
}

.steps-left-section .number-icon {
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 17rem;
}

.steps-left-section h6 {
    position: absolute;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    text-align: right;
    margin-top: 15px;
    margin-right: 23px;
    color: #75BF7A;
}

.steps-right-section {
    height: 599px;
    text-align: left;
}

.steps-right-section .number-icon {
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 10px;
}

.steps-right-section .h6 {
    position: absolute;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    text-align: right;
    margin-top: 15px;
    margin-left: 32px;
    color: #75BF7A;
}

.steps-card {
    border: none;
}

.card-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.1em;
}

.card-text {
    font-size: 18.5px;
    font-weight: 500;
    line-height: 26px;
    color: #9E9DA2;
}

.big-circle img {
    height: 350px;
    margin-top: 140px;
    margin-left: 15px;
}

.steps {
    width: 580px;
    margin-bottom: 80px;
    padding: 20px;
}

.steps-head {
    font-size: 46px;
    font-weight: 800;
    line-height: 50px;
}

.steps-p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #9E9DA2;
    text-align: center;
}

/* --------Tere Benefits------- */
.benefits-title {
    display: flex;
    align-items: center;
}

.benefits-title h1 {
    color: #75BF7A;
    font-size: 88px;
    font-weight: 500;
    line-height: 119px;
}

.benefits-title p {
    font-size: 30px;
    padding: 15px;
    line-height: 35px;
}

.card-benefits-text {
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
}

/*----------------------------------------- MOBILE DISPLAY ----------------------------------- */
.mobile-circle {
    margin-left: 100px;
}

.circle {
    position: absolute;
    height: 400px;
    width: 400px;
    margin-top: 70px;
}

.mobile {
    margin-left: 72px;
    position: relative;
    width: 258px;
}

.mobile-card {
    align-items: center;
    width: 550px;
    align-items: center;
    background-color: #f8f8ffdb;
    border: none;
    margin-left: 39px;
    padding: 20px 50px;
}

.card-mobile-img {
    height: 100px;
    width: 100px;
    margin: 30px auto;
    position: relative;
}

.card-mobile-num {
    position: absolute;
    margin: 50px 126px;
    font-size: 50px;
    font-weight: 700;
    color: #75BF7A;
}

.mobile-card-title {
    font-size: 27px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
}

.mobile-card-text {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #9E9DA2;
}

footer {
    background-color: #fff;
    padding: 30px;
}

.footer-display {
    margin: 60px auto;
}

.footer-display .col-3 {
    margin-bottom: 40px;
}

.footer-rights {
    color: #75BF7A;
    text-align: center;
}



@media only screen and (min-width:850px) {
    .mobile-circle {
        display: none;
    }

    .mobile-steps {
        display: none;
    }
    .mobile-benefits{
        display: none;
    }
}


@media only screen and (max-width:850px) {
    .card-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form-card {
        display: flex;
        flex-direction: column;
    }

    .card-h1 {
        width: 100%;
        height: 56px;
        font-weight: 500;
        line-height: 1.6;
    }

    .card-search {
        width: 100%;
        /* margin: 10px auto; */
        margin-bottom: 20px;
    }

    .card-btn {
        width: 100%;
    }

    .desktop-display {
        display: none;
    }

    .benefits-desktop {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

}


@media only screen and (max-width:950px) {
    .right-sec-img {
        margin: -45px;
    }

    .right-sec-img img {
        margin-top: 30px;
    }

    .my-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0px;
    }

    .h1-theme {
        margin-top: 80px;
        margin-left: -50px;
    }

    .p-theme {
        margin-left: -50px;
    }

    .btns {
        margin-left: -55px;
    }

    .nav-btn {
        margin: 20px auto;
        border-radius: 10px;
        /* padding: auto 20px; */
        width: 200px;
        margin-right: 30px;
    }

    .tere-nav {
        align-items: center;
    }

    .tere-nav li {
        margin: 3px auto;
    }
}

@media only screen and (max-width:576px) {
    .app-card {
        width: 500px;
        /* margin: 70px 0px; */
        margin-left: 30px;
        text-align: center;
    }

    .right-sec-img {
        margin: -45px;
    }

    .h1-theme {
        margin-top: 80px;
        margin-left: -50px;
    }

    .p-theme {
        margin-left: -50px;
    }

    .btns {
        margin-left: -55px;
    }
    .steps-head{
        font-size: 34px;
        text-align: center;
    }
}